<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Yay</title>
  </head>
  <body>
    <div id='app'>
      {{{ content }}}
    </div>
    <script>
      window.BOOTSTRAP = "{{{ bootstrap }}}";
    </script>
    <script src="/assets/scripts/client.js"></script>
  </body>
</html>
